@use "abstracts/variables" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins/effect" as *;
@use "abstracts/mixins/respond" as *;
@use "abstracts/mixins/templete" as *;
@use "abstracts/mixins/utils" as *;

// Keyframes
@keyframes banner-move {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ctaAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

// Section
.section {
  // section-type
  &-type1 {
    background: {
      image: url($url_img + 'page/img-bg_gifticon.png');
      size: contain;
      position: bottom center;
      repeat: no-repeat;
    }
    .table-list {
      border-radius: px($radius-20);
      background: rgba(224, 243, 247, 0.50);
      backdrop-filter: blur(8px);
      & > ul {
        display: flex;
        padding: rem($spacing-16) 0 rem($spacing-8) 0;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        li {
          width: 100%;
          padding: rem(2) rem($spacing-24);
          border-bottom: 1px solid $border;
          &:last-child {
            border-bottom: none;
          }
          @include respondToMin(tablet) {
            padding: rem(2) rem($spacing-32);
          }
          @include respondToMin(desktop) {
            padding: rem($spacing-4) rem($spacing-40);
          }
        }
      }
      .list-content {
        display: block;
        padding: rem($spacing-16) 0 rem($spacing-20);
        @include respondToMin(tablet) {
          display: flex;
          align-items: flex-start;
          align-content: flex-start;
          gap: rem($spacing-32);
        }
        &__title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: px(108);
          height: px(35);
          margin-bottom: rem($spacing-8);
          background: {
            image: url($url_img + 'page/img_table-title.png');
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
          color: $text-invert;
          line-height: 144%;
          font: {
            size: rem(14);
            weight: $font-weight-bold;
          }
          & > * {
            font-weight: inherit;
          }
          @include respondToMin(tablet) {
            flex: none;
          }
        }
        &__body {
          padding: rem(2) 0;
          @include font-action {
            color: $text-secondary;
          }
          @include respondToMin(tablet) {
            flex: 1;
            padding: rem(3) 0;
          }
          @include respondToMin(desktop) {
            flex: 1;
            padding: rem($spacing-4) 0;
          }
          .desc {
            padding-top: rem($spacing-4);
            @include respondToMin(tablet) {
              padding-top: rem($spacing-6);
            }
            @include respondToMin(desktop) {
              padding-top: rem($spacing-8);
            }
          }
          .date {
            display: flex;
            align-items: center;
            align-content: center;
            gap: rem(2) rem(4);
            align-self: stretch;
            flex-wrap: wrap;
            strong {
              color: $text-primary;
            }
            @include respondToMin(tablet) {
              gap: rem(3) rem($spacing-6);
            }
            @include respondToMin(desktop) {
              gap: rem($spacing-4) rem($spacing-8);
            }
          }
        }
      }
    }
  }
  &-type2 {
    .box-list {
      & > ul {
        gap: rem($spacing-32);
        @include respondToMin(tablet) {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0;
          margin: -#{rem($spacing-16)};
          justify-content: flex-start;
          align-items: stretch;
          align-content: flex-start;
        }
        @include respondToMin(desktop) {
          gap: rem($spacing-32);
          margin: 0;
        }

        & > li {
          @include respondToMin(tablet) {
            flex: none;
            width: 50%;
            padding: rem($spacing-16);
          }
          @include respondToMin(desktop) {
            flex: 1;
            width: 100%;
            padding: 0;
          }
        }
      }
      .box-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        gap: rem($spacing-24);
        height: auto;
        padding: rem($spacing-32) rem($spacing-36) rem(20) rem($spacing-24);
        background-color: $invert;
        border-radius: px($radius-20);
        @include respondToMin(tablet) {
          height: px(280);
          padding: rem($spacing-38) rem($spacing-52) rem($spacing-26) rem($spacing-32);
          gap: initial;
        }
        @include respondToMin(desktop) {
          height: px(388);
          padding: rem($spacing-48) rem($spacing-60) rem($spacing-32) rem($spacing-40);
        }
        &__top {
          .top-title {
            padding-bottom: rem($spacing-8);
            @include font-header {
              font-weight: $font-weight-bold;
              color: $text-primary;
            }
          }
          .top-desc {
            @include font-body(small) {
              color: $text-secondary;
            }
          }
        }
        &__bottom {
          .bottom-button {
            display: block;
            position: relative;
            min-width: px(120);
            padding: rem(10) rem($spacing-16);
            background-color: $invert;
            border-radius: px(4);
            border: 1px solid $neutral-100;
            @include font-action(small) {
              font-weight: $font-weight-bold;
              color: $text-primary;
              text-align: center;
            }
            @include respondToMin(tablet) {
              min-width: px(140);
              padding: rem($spacing-12) rem($spacing-20);
              border-radius: px(6);
            }
            @include respondToMin(desktop) {
              min-width: px(180);
              padding: rem($spacing-16) rem($spacing-24);
              border: 2px solid $neutral-100;
              border-radius: px($radius-8);
            }
            &::before {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: inherit;
              content: '';
            }
            &:disabled,
            &.disabled {
              font-weight: $font-weight-medium;
              color: $text-lowest;
              border-color: $disabled;
              cursor: default;
              pointer-events: none;
            }
          }
        }
        &:is(.hsk) {
          background: {
            image: url($url_img + 'page/img-bg_testcard-hsk.png');
            size: contain;
            position: bottom right;
            repeat: no-repeat;
          }
        }
        &:is(.dele) {
          background: {
            image: url($url_img + 'page/img-bg_testcard-dele.png');
            size: contain;
            position: bottom right;
            repeat: no-repeat;
          }
        }
        &:is(.ote) {
          background: {
            image: url($url_img + 'page/img-bg_testcard-ote.png');
            size: contain;
            position: bottom right;
            repeat: no-repeat;
          }
        }
      }
    }
  }
  &-type3 {
    .qna-box {
      & > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        li {
          width: 100%;
          border-bottom: 1px solid $border;
        }
      }
      .qna-wrap {
        padding: rem($spacing-20) rem($spacing-4) rem($spacing-20) 0;
        &__top {
          display: flex;
          align-items: center;
          gap: rem($spacing-24);
          cursor: pointer;
          .top-title {
            flex: 1;
            @include font-body {
              color: $text-primary;
            }
          }
          .top-icon {
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: px(32);
            height: px(32);
            svg {
              transition: all 0.3s ease;
            }
          }
        }
        &__bottom {
          display: none;
          margin-top: rem($spacing-20);
          padding: rem($spacing-24) rem($spacing-20);
          border-radius: px($radius-16);
          background-color: $alpha-brand-8;
          @include font-body {
            color: $text-secondary;
          }
          @include respondToMin(tablet) {
            padding: rem($spacing-32) rem($spacing-26);
            border-radius: px(22);
          }
          @include respondToMin(desktop) {
            padding: rem($spacing-40) rem($spacing-32);
            border-radius: px(26);
          }
        }
        &:is(.active) {
          .qna-wrap {
            &__top {
              .top-icon {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
            &__bottom {
              display: block;
            }
          }
        }
      }
    }
    .qna-button {
      padding: rem($spacing-32) 0 rem($spacing-12);
      @include respondToMin(tablet) {
        padding: rem(42) 0 rem($spacing-16);
      }
      @include respondToMin(desktop) {
        padding: rem($spacing-52) 0 rem($spacing-20);
      }
      &__button {
        display: flex;
        align-items: center;
        gap: rem($spacing-4);
        width: 100%;
        max-width: rem(560);
        margin: 0 auto;
        padding: rem($spacing-16) rem($spacing-20) rem($spacing-16) rem($spacing-32);
        border: 2px solid $brand-dark;
        border-radius: px($radius-circle);
        @include font-action(large) {
          font-weight: $font-weight-bold;
          color: $text-brand-dark;
        }
        & > :first-child {
          flex: 1;
        }
        & > :last-child {
          flex: none;
        }
      }
    }
  }
  &-type4 {
    .caution-list {
      position: relative;
      background: $invert;
      border-radius: px($radius-12);
      & > ul {
        display: flex;
        padding: rem($spacing-24);
        flex-direction: column;
        align-items: flex-start;
        gap: rem($spacing-4);
        @include respondToMin(tablet) {
          gap: rem($spacing-6);
          padding: rem($spacing-32);
        }
        @include respondToMin(desktop) {
          gap: rem($spacing-8);
          padding: rem($spacing-40);
        }
        li {
          position: relative;
          padding-left: rem($spacing-12);
          @include font-body(small) {
            color: $text-secondary;
          }
          &::before {
            @include virtual(4px, 4px) {
              position: absolute;
              top: px($spacing-12);
              left: 0;
              background-color: $secondary;
              border-radius: px($radius-circle);
            }
          }
        }
      }
    }
  }
  &-type5 {
    background: {
      color: $invert;
      image: url($url_img + 'page/img-bg_share.png');
      size: contain;
      position: center bottom;
      repeat: no-repeat;
    }
    .section-header {
      &__button {
        .btn {

        }
      }
    }
  }
}

// Aos Update
[data-aos=fade-up] {
  transform: translate3d(0, 48px, 0);
}
